*.exe
*.o
/wc1051*.cob
/wc2251*.cob
/DISPRINT.cob
bldmf
display
hexed
qapic
selectpg
testftok
testints
vcapkeys
viewkey
vsx
wcopy
wdelay
wdelwrk
wdiag
wexists
wfind
wlicense
wlictest
wputparm
wrename
wretcode
wrun
wscratch
wshell
wsort
wsubmit
wsysconf
wsysinit
wusage
bldmf_l.c

