# Temp files
*~
.#*

# CVS
CVS/
.cvsignore

# Generated
/bin/
/ede/bin/
/WISPer/*/bin/
/config/
/kit/
/lib/
/QA/
/testacu/
/testmf/
/wauth/wauthorize
/wauth/wauthorize.tab
/wauth/wauthorise.log
/wauth/doc/*
*.ship
.wisper

/wisp.opt

# Binaries
*.o
*.a
*.lib
*.exe
*.obj

# Build
Debug/
Release/
x64/
*_Win32_Release/
*_Win32_Debug/

*.ncb
*.suo
*.plg
*.ilk
*.pdb
*.aps

*.vcproj.*.*.user
*.log
*.err

# Windows
Thumbs.db


*.sdf
*.opensdf
*.bsc
ipch/
.vs/
wdiag.txt
