*~
.#*
CVS/
.cvsignore
/bin/
/ede/bin/
/WISPer/*/bin/
/config/
/kit/
/lib/
/QA/
Debug/
Release/
x64/
#/testacu/
#/testmf/
*_Win32_Release/
*_Win32_Debug/
/wisp.ncb
/wisp.opt
/wisp.suo
Thumbs.db
make.err
*.vcproj.*.*.user
*.ship
*.plg
*.ilk
*.pdb
*.aps

